<section class="page-title inner-baner">
  <div class="container">
    <h2>registration</h2>
    <ul class="bread-crumb clearfix">
      <li><a [routerLink]="['/']">Home</a></li>
      <li class="active">registration</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<section class="registeration-page">
  <div class="sec-pad blog-back-bg">
    <div class="container">
      <div class="section-title text-center wd-50 mb-50">
        <h1>Welcome to Omaya studio online registration!</h1>
        <p>
          Join us today to improve your health, to build strength, and share
          many memorable experiences!
        </p>
      </div>
      <!-- title -->

      <div class="col-lg-12 col-md-12 cntr-block">
        <form action="inc/mail.php" method="POST">
          <div class="registeration">
            <span class="reg-head-sub">Student’s Info</span>
            <div class="row clearfix">
              <div class="col-lg-6 col-md-6">
                <input
                  type="text"
                  name="f_name"
                  placeholder="Student’s first name*"
                  class="input"
                />
              </div>

              <div class="col-lg-6 col-md-6">
                <input
                  type="text"
                  name="L_name"
                  placeholder="Student’s  Lastname"
                  class="input"
                />
              </div>

              <div class="col-lg-6 col-md-6">
                <input
                  name="birthday"
                  type="text"
                  placeholder="Birth date: MM|DD|YYYY*"
                  class="input md-none"
                />
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="gender clearfix">
                  <span>Gender*</span>
                  <div class="options clearfix">
                    <div class="radio">
                      <input
                        name="gender"
                        value="male"
                        type="radio"
                        id="radio1"
                        checked
                      />
                      <label for="radio1"><i class="icon lips"></i></label>
                    </div>
                    <div class="radio">
                      <input
                        name="gender"
                        value="femail"
                        type="radio"
                        id="radio2"
                      />
                      <label for="radio2"><i class="icon moustache"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span class="reg-head-sub">How can we contact you?</span>
            <div class="row clearfix">
              <div class="col-lg-6 col-md-6">
                <input
                  name="phone"
                  type="text"
                  placeholder="Home phone #"
                  class="input"
                />
              </div>

              <div class="col-lg-6 col-md-6">
                <input
                  name="cell_no"
                  type="text"
                  placeholder="Cell phone #*"
                  class="input"
                />
              </div>

              <div class="col-lg-6 col-md-6">
                <input
                  name="w_phone"
                  type="text"
                  placeholder="Work phone #"
                  class="input md-none"
                />
              </div>

              <div class="col-lg-6 col-md-6">
                <input
                  name="email"
                  type="email"
                  placeholder="Email*"
                  class="input md-none"
                />
              </div>
            </div>
            <span class="reg-head-sub">Referral Information</span>
            <div class="row clearfix">
              <div class="col-lg-6 col-md-6">
                <input
                  name="about"
                  type="text"
                  placeholder="How did you here about us?"
                  class="input md-none"
                />
              </div>

              <div class="col-lg-6 col-md-6">
                <input
                  name="ref_name"
                  type="text"
                  placeholder="Referral Name"
                  class="input md-none"
                />
              </div>
            </div>
            <span class="reg-head-sub">Interested In</span>
            <div class="options clearfix">
              <div class="check-box">
                <input
                  name="intrest"
                  type="checkbox"
                  value="Yoga Only"
                  name="check"
                  id="checkbox1"
                  checked
                />
                <label for="checkbox1">Yoga Only</label>
              </div>
              <div class="check-box">
                <input
                  name="intrest"
                  type="checkbox"
                  value="Pilates Only"
                  name="check"
                  id="checkbox2"
                />
                <label for="checkbox2">Pilates Only</label>
              </div>
              <div class="check-box">
                <input
                  name="intrest"
                  type="checkbox"
                  value="Ballroom"
                  name="check"
                  id="checkbox3"
                />
                <label for="checkbox3">Ballroom</label>
              </div>
              <div class="check-box">
                <input
                  name="intrest"
                  type="checkbox"
                  value="Zumba"
                  name="check"
                  id="checkbox4"
                />
                <label for="checkbox4">Zumba</label>
              </div>
              <div class="check-box">
                <input
                  name="intrest"
                  type="checkbox"
                  value="Wedding"
                  name="check"
                  id="checkbox5"
                />
                <label for="checkbox5">Wedding</label>
              </div>
              <div class="check-box">
                <input
                  name="intrest"
                  type="checkbox"
                  value="Personal training or Ballroom dance"
                  name="check"
                  id="checkbox6"
                />
                <label for="checkbox6"
                  >Personal training or Ballroom dance</label
                >
              </div>
            </div>
            <input type="submit" value="submit" class="button theme-btn" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
