<footer>
  <div class="container">
    <div class="footer-logo">
      <a href="#">
        <img src="assets/images/footer-logo.png" alt="" />
      </a>
    </div>
    <div class="footer-element">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="info-bx">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <p>MONDAY TO SATURDAY<span>09:00AM - 09:00 PM</span></p>
          </div>
        </div>
        <!-- End col -->
        <div class="col-md-3 col-sm-3">
          <a
            href="https://wego.here.com/directions/mix//Dance-Beat,-24453-E.-Eames-St.,-60410-Channahon:e-eyJuYW1lIjoiRGFuY2UgQmVhdCIsImFkZHJlc3MiOiIyNDQ1MyBFLiBFYW1lcyBTdC4sIENoYW5uYWhvbiwgSWxsaW5vaXMgNjA0MTAiLCJsYXRpdHVkZSI6NDEuNDMyNDMxMTI4NDYyLCJsb25naXR1ZGUiOi04OC4yMTM2OTE3MTE0MjYsInByb3ZpZGVyTmFtZSI6ImZhY2Vib29rIiwicHJvdmlkZXJJZCI6MjgyNzI1MzA3NDAxNjgyN30=?map=41.43243,-88.21369,15,normal&fb_locale=en_US">
            <div class="info-bx">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <p>
                24453 E. Eames St.

                <span>Channahon, Illinois 60410</span>
              </p>
            </div>
          </a>
        </div>
        <!-- End col -->
        <div class="col-md-3 col-sm-3">
          <div class="info-bx">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p>
              E-MAIL:<span><a href="mailto:{{email}}">{{email}}</a></span>
            </p>
          </div>
        </div>
        <!-- End col -->
        <div class="col-md-3 col-sm-3">
          <div class="info-bx">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>CALL US:<span>{{phone}}</span></p>
          </div>
        </div>
        <!-- End col -->
      </div>
    </div>

    <div class="social-links-footer">
      <a href="{{facebook}}"> <i class="fa fa-facebook-f"></i></a>
      <!-- <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-google"></i></a>
      <a href="#"> <i class="fa fa-linkedin"></i></a> -->
    </div>
    <!-- social-link -->

    <div class="quick-links">
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/about']">About Us</a></li>
        <li *ngIf="features.team"><a [routerLink]="['/team']">Dance Teams</a></li>
        <!-- <li><a href="#">Schedule</a></li> -->
        <!-- <li><a href="#">Pricing</a></li> -->
        <li *ngIf="features.services"><a [routerLink]="['/dance-classes']">Group Classes</a></li>
        <li *ngIf="features.events"><a href="#">News &amp; Events</a></li>
        <!-- <li><a href="#">Location</a></li> -->
        <li *ngIf="features.blog"><a href="#">Blog</a></li>
        <li *ngIf="features.testimonial"><a [routerLink]="['/testimonial']">Testimonials</a></li>
        <li><a [routerLink]="['/contact']">Contact Us</a></li>
        <!-- <li><a href="#">Privacy Policy</a></li> -->
      </ul>
    </div>
    <div class="footer-btm">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="create-by"></div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="copywrite">
              © 2019 All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End footer-btm -->
  </div>
</footer>