<section class="page-title inner-baner">
  <div class="container">
    <h2>about us</h2>
    <ul class="bread-crumb clearfix">
      <li><i class="fa fa-home"></i> <a [routerLink]="['/']">Home</a></li>
      <li class="active">about</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<div class="sections-wrapper">
  <section class="sec-pad">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>
            <B>ABOUT {{title}}</B>
          </h1>
          <p>Here at Dance Beat, our goal is to provide a family-friendly environment while giving quality dance
            lessons.</p>
          <p>We want to keep our lessons affordable to all families. We believe the love of the art of dance is
            important to everyone
            and should be a happy and fun-filled experience. Our goal is to give each dancer a life long love of dance.
          </p>
        </div>

        <!--   <div class="col-md-5 col-sm-4 hidden-xs">
                        <img src="assets/images/resource/jumper.png" alt="">
                    </div> -->
      </div>
      <!-- row -->
    </div>
  </section>

  <!-- Testimonials -->
  <!-- <section id="testimonials">
    <div class="overlay sec-pad">
      <div class="container">
        <div class="section-title text-center wd-50 mb-50">
          <h1>Client <span class="color-pink">Testimonials</span></h1>
        </div>
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="owl-carousel">
              <div class="item">
                <div class="quote-icon">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="text-box clearfix">
                  <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipis Red quia numquam eius modi. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur <BR />Red quia numquam eius modi.
                  </p>
                </div>
                <div class="client-info-box">
                  <div class="client-img">
                    <img src="assets/images/resource/client-img.jpg" alt="" />
                  </div>
                  <p class="name">
                    <span>John Smith </span> <br />
                    ( c e o )
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="quote-icon">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="text-box clearfix">
                  <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipis Red quia numquam eius modi. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur <BR />Red quia numquam eius modi.
                  </p>
                </div>
                <div class="client-info-box">
                  <div class="client-img">
                    <img src="assets/images/resource/client-img.jpg" alt="" />
                  </div>
                  <p class="name">
                    <span>John Smith </span> <br />
                    ( c e o )
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="quote-icon">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="text-box clearfix">
                  <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipis Red quia numquam eius modi. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur <BR />Red quia numquam eius modi.
                  </p>
                </div>
                <div class="client-info-box">
                  <div class="client-img">
                    <img src="assets/images/resource/client-img.jpg" alt="" />
                  </div>
                  <p class="name">
                    <span>John Smith </span> <br />
                    ( c e o )
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

</div>