<section class="page-title inner-baner">
  <div class="container">
    <h2>about us</h2>
    <ul class="bread-crumb clearfix">
      <li><i class="fa fa-home"></i> <a [routerLink]="['/']">Home</a></li>
      <li class="active">about</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<div class="sections-wrapper">
  <section class="sec-pad">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>
            <B>ABOUT COMPANY</B>
          </h1>
          <p>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>

        <!--   <div class="col-md-5 col-sm-4 hidden-xs">
                        <img src="assets/images/resource/jumper.png" alt="">
                    </div> -->
      </div>
      <!-- row -->
    </div>
  </section>

  <!-- Testimonials -->
  <section id="testimonials">
    <div class="overlay sec-pad">
      <div class="container">
        <div class="section-title text-center wd-50 mb-50">
          <h1>Clintes <span class="color-pink">Testimonials</span></h1>
        </div>
        <!-- title -->
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="owl-carousel">
              <div class="item">
                <div class="quote-icon">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="text-box clearfix">
                  <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipis Red quia numquam eius modi. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur <BR />Red quia numquam eius modi.
                  </p>
                </div>
                <!-- text-box -->
                <div class="client-info-box">
                  <div class="client-img">
                    <img src="assets/images/resource/client-img.jpg" alt="" />
                  </div>
                  <p class="name">
                    <span>John Smith </span> <br />
                    ( c e o )
                  </p>
                </div>
              </div>
              <!-- item -->
              <div class="item">
                <div class="quote-icon">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="text-box clearfix">
                  <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipis Red quia numquam eius modi. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur <BR />Red quia numquam eius modi.
                  </p>
                </div>
                <!-- text-box -->
                <div class="client-info-box">
                  <div class="client-img">
                    <img src="assets/images/resource/client-img.jpg" alt="" />
                  </div>
                  <p class="name">
                    <span>John Smith </span> <br />
                    ( c e o )
                  </p>
                </div>
              </div>
              <!-- item -->
              <div class="item">
                <div class="quote-icon">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="text-box clearfix">
                  <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipis Red quia numquam eius modi. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                    consectetur <BR />Red quia numquam eius modi.
                  </p>
                </div>
                <!-- text-box -->
                <div class="client-info-box">
                  <div class="client-img">
                    <img src="assets/images/resource/client-img.jpg" alt="" />
                  </div>
                  <p class="name">
                    <span>John Smith </span> <br />
                    ( c e o )
                  </p>
                </div>
              </div>
              <!-- item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end testimonial -->
</div>
