<!--Page Title-->
<section class="page-title inner-baner">
  <div class="container">
    <h2>contact</h2>
    <ul class="bread-crumb clearfix">
      <li><a [routerLink]="['/']">Home</a></li>
      <li class="active">contact</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<div class="sections-wrapper sec-pad blog-back-bg">
  <div class="container">
    <div class="section-title title-padd-btm">
      <h1>GET IN TOUCH</h1>
      <!-- <p class="wd-50">
        Its this founding principle that has helped our organisation as well as
        our clients become a defining force in the industry.
      </p> -->
    </div>

    <div class="contact-form-container">
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12 pull-right">
          <!-- <form action="inc/sendemail.php" class="contact-form">
            <p><input type="text" name="name" placeholder="Name" /></p>
            <p><input type="text" name="email" placeholder="Email" /></p>
            <p><input type="text" name="subject" placeholder="Subject" /></p>
            <p><textarea name="message" placeholder="Message"></textarea></p>
            <button type="submit" class="theme-btn btn-lg">
              <span>Submit Now</span>
            </button>
          </form> -->

          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSe3QQfwz2_lYE4cwGu6vl-imEss_wfnRijafbAlkb35N9lkZg/viewform?embedded=true"
            width="100%" height="751" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>




        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="tt-contact">
            <div class="tt-contact-icon-outer">
              <div class="tt-contact-icon">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
            </div>

            <div class="tt-contact-info">
              <div class="simple-text">
                <p>
                  24453 E. Eames St.
                  <br />
                  <span>Channahon, Illinois 60410</span>
                </p>
              </div>
            </div>
          </div>

          <div class="spacer-15"></div>
          <div class="tt-contact">
            <div class="tt-contact-icon-outer">
              <div class="tt-contact-icon">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
            </div>

            <div class="tt-contact-info">
              <div class="simple-text">
                <p>{{phone}}</p>
              </div>
            </div>
          </div>
          <!-- tt-contact -->
          <div class="spacer-15"></div>
          <div class="tt-contact">
            <div class="tt-contact-icon-outer">
              <div class="tt-contact-icon">
                <i class="fa fa-envelope"></i>
              </div>
            </div>
            <div class="tt-contact-info">
              <div class="simple-text">
                <p>
                  <a href="mailto:{{email}}">{{email}}</a>
                </p>
              </div>
            </div>
          </div>
          <!-- tt-contact -->
        </div>
        <!-- col -->
      </div>
      <!-- row -->
      <div class="row">
        <!-- Start Map Section -->
        <div class="container-fluid">
          <div class="map-column col-md-12 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div class="map-outer">

                <!--Map Canvas-->
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.6841961919677!2d-88.20884708468883!3d41.44607360031815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e88601767955f%3A0xa23cfc7c4bd68721!2s24453+E+Eames+St%2C+Channahon%2C+IL+60410%2C+USA!5e0!3m2!1sen!2sin!4v1565391008035!5m2!1sen!2sin"
                  width="100%" height="450" frameborder="0" allowfullscreen></iframe>

              </div>
            </div>
          </div>
        </div>
        <!-- End Map Section -->
      </div>
    </div>
  </div>
</div>