.icon{
    background: url(../images/icon.png) no-repeat;
    display: block;
}
.icon1{
    background-position: -20px -20px;
}
.icon2{
    background-position: -20px -140px;
}
.icon3{
    background-position: -20px -260px;
}
.icon4{
    background-position: -20px -380px;
}
.icon5{
    background-position: -20px -500px;
}
.icon6{
    background-position: -200px -20px;
}
.icon7{
    background-position: -200px -140px;
}
.icon8{
    background-position: -200px -260px;
}
.icon9{
    background-position: -200px -380px;
}
.icon10{
    background-position: -200px -500px;
}
.icon11{
    background-position: -200px -620px;
}
.play{    
    width: 32px;
    height: 32px;
    background-position: -400px -220px;
}
.cancel{    
    width: 36px;
    height: 36px;
    background-position: -450px -220px;
}
.lips{    
    width: 32px;
    height: 22px;
    background-position: -500px -270px;
}
.moustache{    
    width: 38px;
    height: 13px;
    background-position: -550px -270px;
}
.pin{
    background-position: -400px -150px;
}
.email{
    background-position: -450px -150px;
}
.phone{
    background-position: -500px -150px;
}
.facebook{
    background-position: -400px -20px;
}
.twitter{
    background-position: -450px -20px;
}
.linkedin{
    background-position: -500px -20px;
}
.google{
    background-position: -550px -20px;
}
.facebook:hover{
    background-position: -400px -70px;
}
.twitter:hover{
    background-position: -450px -70px;
}
.linkedin:hover{
    background-position: -500px -70px;
}
.google:hover{
    background-position: -550px -70px;
}
