<section class="page-title inner-baner">
  <div class="container">
    <h2>service</h2>
    <ul class="bread-crumb clearfix">
      <li><a [routerLink]="['/']">Home</a></li>
      <li class="active">service</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<div class="sections-wrapper">
  <div class="classes-container">
    <div class="classes-img-box">
      <img src="assets/images/classes/1.jpg" alt="" />
    </div>
    <div class="classes-content-box">
      <h1>Rotating Bootcamps</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <br /><br />
      <a href="#" class="theme-btn btn-lg mr-20">Register Now</a>
      <a href="#" class="theme-btn-second btn-lg">Check Schedule</a>
    </div>
  </div>
  <!-- End classes-container-->
  <div class="classes-container">
    <div class="classes-content-box">
      <h1>Rotating Bootcamps</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <br /><br />
      <a href="#" class="theme-btn btn-lg mr-20">Register Now</a>
      <a href="#" class="theme-btn-second btn-lg">Check Schedule</a>
    </div>
    <div class="classes-img-box">
      <img src="assets/images/classes/2.jpg" alt="" />
    </div>
  </div>
  <!-- End classes-container-->
  <div class="classes-container">
    <div class="classes-img-box">
      <img src="assets/images/classes/3.jpg" alt="" />
    </div>
    <div class="classes-content-box">
      <h1>Rotating Bootcamps</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <br /><br />
      <a href="#" class="theme-btn btn-lg mr-20">Register Now</a>
      <a href="#" class="theme-btn-second btn-lg">Check Schedule</a>
    </div>
  </div>
  <!-- End classes-container-->
  <div class="classes-container">
    <div class="classes-content-box">
      <h1>Rotating Bootcamps</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <br /><br />
      <a href="#" class="theme-btn btn-lg mr-20">Register Now</a>
      <a href="#" class="theme-btn-second btn-lg">Check Schedule</a>
    </div>
    <div class="classes-img-box">
      <img src="assets/images/classes/4.jpg" alt="" />
    </div>
  </div>
  <!-- End classes-container-->
</div>
