<!--Page Title-->

<section class="page-title inner-baner">
  <div class="container">
    <h2>Gallery</h2>

    <ul class="bread-crumb clearfix">
      <li><a [routerLink]="['/']">Home</a></li>

      <li class="active">Gallery</li>
    </ul>
  </div>
</section>

<!--End Page Title-->

<section class="latest-gallery text-center">
  <div class="container">
    <ul class="post-filter list-inline">
      <li class="active" data-filter=".filter-item">
        <span>All</span>
      </li>

      <li data-filter=".Indoor-Services">
        <span>Zumba Dance</span>
      </li>

      <li data-filter=".Old-Wiring-Faults">
        <span>Ballroom Dance</span>
      </li>

      <li data-filter=".Out-door-repairing">
        <span>Bachata Dance</span>
      </li>

      <li data-filter=".Shortcircuits">
        <span>Wedding Dance</span>
      </li>
    </ul>

    <div class="row masonary-layout filter-layout">
      <div class="col-md-6 col-sm-6 col-xs-12 filter-item">
        <div class="single-item">
          <div class="img-box">
            <img src="assets/images/gallery/1.jpg" alt="Awesome Image" />

            <div class="overlay">
              <div class="inner">
                <div class="social">
                  <a
                    href="assets/images/gallery/1.jpg"
                    data-fancybox-group="example-gallery"
                    class="view lightbox-image"
                    ><i class="flaticon-add"></i
                  ></a>

                  <h4>title here</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 col-xs-12 filter-item Indoor-Services Out-door-repairing"
      >
        <div class="single-item">
          <div class="img-box">
            <img src="assets/images/gallery/2.jpg" alt="Awesome Image" />

            <div class="overlay">
              <div class="inner">
                <div class="social">
                  <a
                    href="assets/images/gallery/2.jpg"
                    data-fancybox-group="example-gallery"
                    class="view lightbox-image"
                    ><i class="flaticon-add"></i
                  ></a>

                  <h4>title here</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 col-xs-12 filter-item Shortcircuits  Old-Wiring-Faults"
      >
        <div class="single-item">
          <div class="img-box">
            <img src="assets/images/gallery/3.jpg" alt="Awesome Image" />

            <div class="overlay">
              <div class="inner">
                <div class="social">
                  <a
                    href="assets/images/gallery/3.jpg"
                    data-fancybox-group="example-gallery"
                    class="view lightbox-image"
                    ><i class="flaticon-add"></i
                  ></a>

                  <h4>title here</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 col-xs-12 filter-item Indoor-Services Out-door-repairing Old-Wiring-Faults"
      >
        <div class="single-item">
          <div class="img-box">
            <img src="assets/images/gallery/4.jpg" alt="Awesome Image" />

            <div class="overlay">
              <div class="inner">
                <div class="social">
                  <a
                    href="assets/images/gallery/4.jpg"
                    data-fancybox-group="example-gallery"
                    class="view lightbox-image"
                    ><i class="flaticon-add"></i
                  ></a>

                  <h4>title here</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 col-xs-12 filter-item Shortcircuits Out-door-repairing Old-Wiring-Faults"
      >
        <div class="single-item">
          <div class="img-box">
            <img src="assets/images/gallery/5.jpg" alt="Awesome Image" />

            <div class="overlay">
              <div class="inner">
                <div class="social">
                  <a
                    href="assets/images/gallery/5.jpg"
                    data-fancybox-group="example-gallery"
                    class="view lightbox-image"
                    ><i class="flaticon-add"></i
                  ></a>

                  <h4>title here</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 col-xs-12 filter-item Out-door-repairing Indoor-Services video Shortcircuits Old-Wiring-Faults"
      >
        <div class="single-item">
          <div class="img-box">
            <img src="assets/images/gallery/6.jpg" alt="Awesome Image" />

            <div class="overlay">
              <div class="inner">
                <div class="social">
                  <a
                    href="assets/images/gallery/6.jpg"
                    data-fancybox-group="example-gallery"
                    class="view lightbox-image"
                    ><i class="flaticon-add"></i
                  ></a>

                  <h4>title here</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
