<section class="page-title inner-baner">
  <div class="container">
    <h2>testimonials</h2>
    <ul class="bread-crumb clearfix">
      <li><a [routerLink]="['/']">Home</a></li>
      <li class="active">testimonial</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<div class="sections-wrapper sec-pad testimonial-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial-bx">
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat."
          </p>
          <div class="in-fo-bx">
            <div class="client-img">
              <img src="assets/images/resource/client-img.jpg" alt="" />
            </div>
            <div class="name-col">
              <h3><b>john wagner</b></h3>
              <div class="country">
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial-bx -->
      </div>
      <!-- col -->

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial-bx">
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat."
          </p>
          <div class="in-fo-bx">
            <div class="client-img">
              <img src="assets/images/resource/client-img.png" alt="" />
            </div>
            <div class="name-col">
              <h3><b>john wagner</b></h3>
              <div class="country">
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial-bx -->
      </div>
      <!-- col -->

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial-bx">
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat."
          </p>
          <div class="in-fo-bx">
            <div class="client-img">
              <img src="assets/images/resource/client-img.png" alt="" />
            </div>
            <div class="name-col">
              <h3><b>john wagner</b></h3>
              <div class="country">
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial-bx -->
      </div>
      <!-- col -->

      <div class="spacer-30"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial-bx">
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat."
          </p>
          <div class="in-fo-bx">
            <div class="client-img">
              <img src="assets/images/resource/client-img.png" alt="" />
            </div>
            <div class="name-col">
              <h3><b>john wagner</b></h3>
              <div class="country">
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial-bx -->
      </div>
      <!-- col -->

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial-bx">
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat."
          </p>
          <div class="in-fo-bx">
            <div class="client-img">
              <img src="assets/images/resource/client-img.png" alt="" />
            </div>
            <div class="name-col">
              <h3><b>john wagner</b></h3>
              <div class="country">
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial-bx -->
      </div>
      <!-- col -->

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial-bx">
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat."
          </p>
          <div class="in-fo-bx">
            <div class="client-img">
              <img src="assets/images/resource/client-img.png" alt="" />
            </div>
            <div class="name-col">
              <h3><b>john wagner</b></h3>
              <div class="country">
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial-bx -->
      </div>
      <!-- col -->

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial-bx">
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat."
          </p>
          <div class="in-fo-bx">
            <div class="client-img">
              <img src="assets/images/resource/client-img.png" alt="" />
            </div>
            <div class="name-col">
              <h3><b>john wagner</b></h3>
              <div class="country">
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial-bx -->
      </div>
      <!-- col -->

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial-bx">
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat."
          </p>
          <div class="in-fo-bx">
            <div class="client-img">
              <img src="assets/images/resource/client-img.png" alt="" />
            </div>
            <div class="name-col">
              <h3><b>john wagner</b></h3>
              <div class="country">
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial-bx -->
      </div>
      <!-- col -->

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial-bx">
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut perferendis doloribus asperiores repellat."
          </p>
          <div class="in-fo-bx">
            <div class="client-img">
              <img src="assets/images/resource/client-img.png" alt="" />
            </div>
            <div class="name-col">
              <h3><b>john wagner</b></h3>
              <div class="country">
                <p>Australia</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End testimonial-bx -->
      </div>
      <!-- col -->
    </div>
  </div>
</div>
