<section class="page-title inner-baner">
  <div class="container">
    <h2>faq</h2>

    <ul class="bread-crumb clearfix">
      <li><a href="index.html">Home</a></li>

      <li class="active">faq</li>
    </ul>
  </div>
</section>

<!--End Page Title-->

<!-- #faq -->

<section class="event-page" id="coming-event">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel">
          <div class="item">
            <div class="single-event-bx">
              <div class="event-info">
                <div class="event-date-col">
                  <div class="event-date">
                    8
                  </div>

                  <div class="event-month">
                    October
                  </div>

                  <div class="event-day">
                    sunday
                  </div>
                </div>

                <div class="event-location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Location:
                  Newyork
                </div>

                <div class="text">
                  <p>
                    Saturday, 21st of January 2017-01-19 <br />Time: 12:30 –
                    4:30 P.M. <br />Instructor: Lina Wang <br />Class Size:
                    Limited
                  </p>

                  <p>
                    Please bring your own mat and dress accordingly. <br />Call
                    475-457-4587 to sign up for a class <br />For questions and
                    inquiries, email at
                    <a href="mailto:info@themelab.com"></a>info@themelab.com
                  </p>
                </div>
              </div>

              <div class="event-img">
                <img src="assets/images/resource/event-img-1.jpg" />
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
          <!-- item -->

          <div class="item">
            <div class="single-event-bx">
              <div class="event-info">
                <div class="event-date-col">
                  <div class="event-date">
                    8
                  </div>

                  <div class="event-month">
                    October
                  </div>

                  <div class="event-day">
                    sunday
                  </div>
                </div>

                <div class="event-location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Location:
                  Newyork
                </div>

                <div class="text">
                  <p>
                    Saturday, 21st of January 2017-01-19 <br />Time: 12:30 –
                    4:30 P.M. <br />Instructor: Lina Wang <br />Class Size:
                    Limited
                  </p>

                  <p>
                    Please bring your own mat and dress accordingly. <br />Call
                    475-457-4587 to sign up for a class <br />For questions and
                    inquiries, email at
                    <a href="mailto:info@themelab.com"></a>info@themelab.com
                  </p>
                </div>
              </div>

              <div class="event-img">
                <img src="assets/images/resource/event-img-1.jpg" />
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
          <!-- item -->
        </div>
      </div>
    </div>
  </div>
</section>
