/* You can add global styles to this file, and also import other style files */
#topbar .social a {
  border-left: 0 !important;
  border-right: 0 !important;
}
#topbar a {
  color: rgba(255, 255, 255, 0.7) !important;
}

#services {
  padding-top: 0 !important;
}
