<section class="page-title inner-baner">
  <div class="container">
    <h2>team</h2>
    <ul class="bread-crumb clearfix">
      <li><a [routerLink]="['/']">Home</a></li>
      <li class="active">team</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<section id="our-team-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
        <div class="team-single">
          <div class="team-image-holder">
            <img src="assets/images/team/1.jpg" alt="" />
            <div class="team-overlay">
              <div class="social-links">
                <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
              </div>
            </div>
          </div>
          <div class="player-name text-center">
            <h5>John Martin</h5>
            <p>
              sed quia consequuntur magni dolores eos qui ratione voluptatem
              sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
              dolor sit amet, consectetur, adipisci velit, sed quia non numquam
              eius modi tempora incidunt ut labore et dolore magnam aliquam
              quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
              ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
              qui in ea voluptate velit esse quam nihil molestiae consequatur,
              vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </p>
          </div>
        </div>
      </div>
      <!--End Single team-->
      <div class="spacer-30"></div>

      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
        <div class="team-single">
          <div class="team-image-holder">
            <img src="images/team/2.jpg" alt="" />
            <div class="team-overlay">
              <div class="social-links">
                <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
              </div>
            </div>
          </div>
          <div class="player-name text-center">
            <h5>John Martin</h5>
            <p>
              sed quia consequuntur magni dolores eos qui ratione voluptatem
              sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
              dolor sit amet, consectetur, adipisci velit, sed quia non numquam
              eius modi tempora incidunt ut labore et dolore magnam aliquam
              quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
              ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
              qui in ea voluptate velit esse quam nihil molestiae consequatur,
              vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </p>
          </div>
        </div>
      </div>
      <!--End Single team-->

      <div class="spacer-30"></div>

      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
        <div class="team-single">
          <div class="team-image-holder">
            <img src="images/team/3.jpg" alt="" />
            <div class="team-overlay">
              <div class="social-links">
                <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
              </div>
            </div>
          </div>
          <div class="player-name text-center">
            <h5>John Martin</h5>
            <p>
              sed quia consequuntur magni dolores eos qui ratione voluptatem
              sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
              dolor sit amet, consectetur, adipisci velit, sed quia non numquam
              eius modi tempora incidunt ut labore et dolore magnam aliquam
              quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
              ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
              qui in ea voluptate velit esse quam nihil molestiae consequatur,
              vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </p>
          </div>
        </div>
      </div>
      <!--End Single team-->

      <div class="spacer-30"></div>

      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
        <div class="team-single">
          <div class="team-image-holder">
            <img src="images/team/4.jpg" alt="" />
            <div class="team-overlay">
              <div class="social-links">
                <a href="https://www.facebook.com/dancebeatdance/"><i class="fa fa-facebook mysocial_style"></i></a>
                <!-- <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-linkedin mysocial_style"></i></a> -->
              </div>
            </div>
          </div>
          <div class="player-name text-center">
            <h5>John Martin</h5>
            <p>
              sed quia consequuntur magni dolores eos qui ratione voluptatem
              sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
              dolor sit amet, consectetur, adipisci velit, sed quia non numquam
              eius modi tempora incidunt ut labore et dolore magnam aliquam
              quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
              ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
              qui in ea voluptate velit esse quam nihil molestiae consequatur,
              vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </p>
          </div>
        </div>
      </div>
      <!--End Single team-->
    </div>
  </div>
</section>