<!--Main Slider-->
<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line bs-slider-height"
    data-ride="carousel" data-pause="hover" data-interval="5000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- Third Slide -->
        <div class="item active">

            <!-- Slide Background -->
            <img src="assets/images/main-slider/1.jpg" alt="" class="slide-image">
            <div class="bs-slider-overlay"></div>

            <div class="container">
                <div class="row">
                    <!-- Slide Text Layer -->

                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX" class="">Where the Heart beats in 8 counts</h1>
                        <p data-animation="animated lightSpeedIn" class="">&nbsp;</p>
                        <!-- <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">Get a Quote</a> -->

                    </div>

                </div>
            </div>
        </div>
        <!-- End of Slide -->

        <!-- Second Slide -->
        <div class="item ">

            <!-- Slide Background -->
            <img src="assets/images/main-slider/2.jpg" alt="" class="slide-image">
            <div class="bs-slider-overlay"></div>

            <div class="container">
                <div class="row">
                    <!-- Slide Text Layer -->

                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX"></h1>
                        <p data-animation="animated lightSpeedIn">&nbsp;</p>
                        <!-- <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">Get a Quote</a> -->

                    </div>

                </div>
            </div>
        </div>
        <!-- End of Slide -->

        <!-- Third Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="assets/images/main-slider/3.jpg" alt="" class="slide-image">
            <div class="bs-slider-overlay"></div>

            <div class="container">
                <div class="row">
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">Effortless Moving You Can Afford.</h1>
                        <p data-animation="animated lightSpeedIn">&nbsp;</p>
                        <!-- <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">Get a Quote</a> -->

                    </div>

                </div>
            </div>
        </div>
        <!-- End of Slide -->


    </div><!-- End of Wrapper For Slides -->

    <!-- Left Control -->
    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <!-- Right Control -->
    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<!--End Main Slider-->

<!--Start phone-bar section-->
<section class="promotional-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="promotional-text-container">
                    <div class="promo-head">
                        <h1><span>Join us today for</span> your first dance</h1>
                    </div>
                    <div class="phn-info">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <div class="p-num">
                            <a href="/#">(815) 582-0485</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!--End phone-bar section-->

<!--Start welcome section-->
<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
                <div class="welcome-text">
                    <h1>Welcome to <span class="color-pink">Dance Beat</span></h1>
                    <p>
                        Tina Wang, who was born and raised in Taiwan, is happy to now call New York her home. She is a
                        graduate of the National Taiwan College of Performance Art in Taipei, Taiwan. Tina majored in
                        Dance and Performance with a concentration in Modern Dance. She has over 10 years of teaching
                        experience and has worked as a dance instructor for both adults and children. Having taught
                        young children for many years, Tina is thrilled to open her first dance studio, called Studio
                        214 and is excited to bring her expertise to Brooklyn, New York.
                    </p>
                    <p>
                        Tina Wang, who was born and raised in Taiwan, is happy to now call New York her Taiwan. Tina
                        majored in Dance and Performance with a concentration in Modern Dance.
                    </p>
                    <a *ngIf="features.registration" [routerLink]="['/registration']" class="theme-btn btn-lg">Register
                        Now</a>
                </div>

            </div>
        </div>
    </div>
</section>


<section *ngIf="features.services" id="services">
    <div class="container">

        <div class="block kids clearfix">
            <div class="col-lg-8 col-md-8">
                <div class="heading">
                    <h1>
                        We offer-adults <span class="color-pink">to achieve the best</span>
                    </h1>
                </div>
                <ul class="achieve-list clearfix">
                    <li>
                        <div class="icon">
                            <div class="icon-7"></div>
                        </div>
                        <span class="achi-name">Ballet</span>
                    </li>
                    <li>
                        <div class="icon">
                            <div class="icon-8"></div>
                        </div>
                        <span class="achi-name">Kids Zumba</span>
                    </li>
                    <li>
                        <div class="icon">
                            <div class="icon-9"></div>
                        </div>
                        <span class="achi-name">Chinese dance</span>
                    </li>
                    <li>
                        <div class="icon">
                            <div class="icon-10"></div>
                        </div>
                        <span class="achi-name">Jazz</span>
                    </li>
                    <li>
                        <div class="icon">
                            <div class="icon-11"></div>
                        </div>
                        <span class="achi-name">Contemporary</span>
                    </li>
                    <li>
                        <div class="icon">
                            <div class="icon-12"></div>
                        </div>
                        <span class="achi-name">Hip-hop</span>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <div class="img-right"><img src="assets/images/resource/girl.png" alt=""></div>
            </div>

        </div>
    </div>
</section>

<section *ngIf="features.video" class="sec-pad">
    <div class="container">
        <div class="section-title text-center wd-50 mb-50">
            <h1>look our <span class="color-pink"> video</span></h1>
        </div><!-- title -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="video-bx">
                    <div class="video-image-box">
                        <figure class="image"><img src="assets/images/resource/video-bg.jpg" alt=""><a
                                href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s"
                                class="video-fancybox overlay-link lightbox-image"><span
                                    class="icon fa fa-play"></span></a></figure>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section *ngIf="features.testimonial" id="testimonials">
    <div class="overlay sec-pad">
        <div class="container">
            <div class="section-title text-center wd-50 mb-50">
                <h1>Client <span class="color-pink">Testimonials</span></h1>
            </div><!-- title -->
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="owl-carousel owl-theme owl-loaded">
                        <!-- item -->
                        <!-- item -->
                        <!-- item -->
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-2400px, 0px, 0px); transition: all 0s ease 0s; width: 8400px;">
                                <div class="owl-item cloned" style="width: 1170px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="quote-icon">
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <div class="text-box clearfix">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipis Red quia numquam eius modi. Neque porro quisquam
                                                est, qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia
                                                numquam eius modi.
                                            </p>
                                        </div><!-- text-box -->
                                        <div class="client-info-box">
                                            <div class="client-img">
                                                <img src="assets/images/resource/client-img.jpg" alt="">
                                            </div>
                                            <p class="name">
                                                <span>John Smith </span> <br> ( c e o )
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 1170px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="quote-icon">
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <div class="text-box clearfix">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipis Red quia numquam eius modi. Neque porro quisquam
                                                est, qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia
                                                numquam eius modi.
                                            </p>
                                        </div><!-- text-box -->
                                        <div class="client-info-box">
                                            <div class="client-img">
                                                <img src="assets/images/resource/client-img.jpg" alt="">
                                            </div>
                                            <p class="name">
                                                <span>John Smith </span> <br> ( c e o )
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 1170px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="quote-icon">
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <div class="text-box clearfix">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipis Red quia numquam eius modi. Neque porro quisquam
                                                est, qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia
                                                numquam eius modi.
                                            </p>
                                        </div><!-- text-box -->
                                        <div class="client-info-box">
                                            <div class="client-img">
                                                <img src="assets/images/resource/client-img.jpg" alt="">
                                            </div>
                                            <p class="name">
                                                <span>John Smith </span> <br> ( c e o )
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 1170px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="quote-icon">
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <div class="text-box clearfix">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipis Red quia numquam eius modi. Neque porro quisquam
                                                est, qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia
                                                numquam eius modi.
                                            </p>
                                        </div><!-- text-box -->
                                        <div class="client-info-box">
                                            <div class="client-img">
                                                <img src="assets/images/resource/client-img.jpg" alt="">
                                            </div>
                                            <p class="name">
                                                <span>John Smith </span> <br> ( c e o )
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 1170px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="quote-icon">
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <div class="text-box clearfix">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipis Red quia numquam eius modi. Neque porro quisquam
                                                est, qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia
                                                numquam eius modi.
                                            </p>
                                        </div><!-- text-box -->
                                        <div class="client-info-box">
                                            <div class="client-img">
                                                <img src="assets/images/resource/client-img.jpg" alt="">
                                            </div>
                                            <p class="name">
                                                <span>John Smith </span> <br> ( c e o )
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 1170px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="quote-icon">
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <div class="text-box clearfix">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipis Red quia numquam eius modi. Neque porro quisquam
                                                est, qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia
                                                numquam eius modi.
                                            </p>
                                        </div><!-- text-box -->
                                        <div class="client-info-box">
                                            <div class="client-img">
                                                <img src="assets/images/resource/client-img.jpg" alt="">
                                            </div>
                                            <p class="name">
                                                <span>John Smith </span> <br> ( c e o )
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 1170px; margin-right: 30px;">
                                    <div class="item">
                                        <div class="quote-icon">
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <div class="text-box clearfix">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipis Red quia numquam eius modi. Neque porro quisquam
                                                est, qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia
                                                numquam eius modi.
                                            </p>
                                        </div><!-- text-box -->
                                        <div class="client-info-box">
                                            <div class="client-img">
                                                <img src="assets/images/resource/client-img.jpg" alt="">
                                            </div>
                                            <p class="name">
                                                <span>John Smith </span> <br> ( c e o )
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls">
                            <div class="owl-nav">
                                <div class="owl-prev" style="display: none;"><i class="fa fa-angle-left"></i></div>
                                <div class="owl-next" style="display: none;"><i class="fa fa-angle-right"></i></div>
                            </div>
                            <div class="owl-dots" style="">
                                <div class="owl-dot active"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                                <div class="owl-dot"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end testimonial -->

<section *ngIf="features.gallery" class="latest-gallery text-center">
    <div class="container">
        <div class="section-title text-center wd-50 mb-50">
            <h1>our photo<br><span class="color-pink">gallery</span></h1>
        </div><!-- title -->
        <ul class="post-filter list-inline">
            <li class="active" data-filter=".filter-item">
                <span>All</span>
            </li>
            <li data-filter=".Indoor-Services">
                <span>Zumba Dance</span>
            </li>
            <li data-filter=".Old-Wiring-Faults">
                <span>Ballroom Dance</span>
            </li>
            <li data-filter=".Out-door-repairing">
                <span>Bachata Dance</span>
            </li>
            <li data-filter=".Shortcircuits">
                <span>Wedding Dance</span>
            </li>
        </ul>

        <div class="row masonary-layout filter-layout" style="position: relative; height: 579.282px;">
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item" style="position: absolute; left: 0px; top: 0px;">
                <div class="single-item">
                    <div class="img-box">
                        <img src="assets/images/gallery/1.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="inner">
                                <div class="social">
                                    <a href="assets/images/gallery/1.jpg" data-fancybox-group="example-gallery"
                                        class="view lightbox-image"><i class="flaticon-add"></i></a>
                                    <h4>title here</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 filter-item Indoor-Services Out-door-repairing"
                style="position: absolute; left: 400px; top: 0px;">
                <div class="single-item">
                    <div class="img-box">
                        <img src="assets/images/gallery/2.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="inner">
                                <div class="social">
                                    <a href="assets/images/gallery/2.jpg" data-fancybox-group="example-gallery"
                                        class="view lightbox-image"><i class="flaticon-add"></i></a>
                                    <h4>title here</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item Shortcircuits  Old-Wiring-Faults"
                style="position: absolute; left: 800px; top: 0px;">
                <div class="single-item">
                    <div class="img-box">
                        <img src="assets/images/gallery/3.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="inner">
                                <div class="social">
                                    <a href="assets/images/gallery/3.jpg" data-fancybox-group="example-gallery"
                                        class="view lightbox-image"><i class="flaticon-add"></i></a>
                                    <h4>title here</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item Indoor-Services Out-door-repairing Old-Wiring-Faults"
                style="position: absolute; left: 0px; top: 289px;">
                <div class="single-item">
                    <div class="img-box">
                        <img src="assets/images/gallery/4.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="inner">
                                <div class="social">
                                    <a href="assets/images/gallery/4.jpg" data-fancybox-group="example-gallery"
                                        class="view lightbox-image"><i class="flaticon-add"></i></a>
                                    <h4>title here</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item Shortcircuits Out-door-repairing Old-Wiring-Faults"
                style="position: absolute; left: 400px; top: 289px;">
                <div class="single-item">
                    <div class="img-box">
                        <img src="assets/images/gallery/5.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="inner">
                                <div class="social">
                                    <a href="assets/images/gallery/5.jpg" data-fancybox-group="example-gallery"
                                        class="view lightbox-image"><i class="flaticon-add"></i></a>
                                    <h4>title here</h4>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item Out-door-repairing Indoor-Services video Shortcircuits Old-Wiring-Faults"
                style="position: absolute; left: 800px; top: 289px;">
                <div class="single-item">
                    <div class="img-box">
                        <img src="assets/images/gallery/6.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="inner">
                                <div class="social">
                                    <a href="assets/images/gallery/6.jpg" data-fancybox-group="example-gallery"
                                        class="view lightbox-image"><i class="flaticon-add"></i></a>
                                    <h4>title here</h4>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.latest-gallery -->

<section *ngIf="features.instructor" id="instructor" class="sec-pad">
    <div class="container">
        <div class="section-title text-center wd-50 mb-50">
            <h1 class="white-color">Instructors Know <br>Who we are</h1>
        </div><!-- title -->
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme owl-loaded">
                    <!-- item -->

                    <!-- item -->

                    <!-- item -->
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(-2400px, 0px, 0px); transition: all 0s ease 0s; width: 8400px;">
                            <div class="owl-item cloned" style="width: 1170px; margin-right: 30px;">
                                <div class="item">
                                    <div class="instructor-img">
                                        <img src="assets/images/resource/tina.jpg" alt="">
                                    </div>
                                    <div class="text-box clearfix">
                                        <div class="name">
                                            <p>

                                                <b>JOHN SMITH</b> <br> <span>Personal Trainer</span>
                                            </p>
                                        </div>

                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            consectetur, adipis Red quia numquam eius modi. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia numquam eius
                                            modi.
                                        </p>

                                    </div><!-- text-box -->

                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 1170px; margin-right: 30px;">
                                <div class="item">
                                    <div class="instructor-img">
                                        <img src="assets/images/resource/tina.jpg" alt="">
                                    </div>
                                    <div class="text-box clearfix">
                                        <div class="name">
                                            <p>
                                                <b>JOHN SMITH</b> <br> <span>Personal Trainer</span>
                                            </p>
                                        </div>

                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            consectetur, adipis Red quia numquam eius modi. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia numquam eius
                                            modi.
                                        </p>

                                    </div><!-- text-box -->

                                </div>
                            </div>
                            <div class="owl-item active" style="width: 1170px; margin-right: 30px;">
                                <div class="item">
                                    <div class="instructor-img">
                                        <img src="assets/images/resource/tina.jpg" alt="">
                                    </div>
                                    <div class="text-box clearfix">
                                        <div class="name">
                                            <p>
                                                <b>JOHN SMITH</b> <br> <span>Personal Trainer</span>
                                            </p>
                                        </div>

                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            consectetur, adipis Red quia numquam eius modi. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia numquam eius
                                            modi.
                                        </p>

                                    </div><!-- text-box -->

                                </div>
                            </div>
                            <div class="owl-item" style="width: 1170px; margin-right: 30px;">
                                <div class="item">
                                    <div class="instructor-img">
                                        <img src="assets/images/resource/tina.jpg" alt="">
                                    </div>
                                    <div class="text-box clearfix">
                                        <div class="name">
                                            <p>

                                                <b>JOHN SMITH</b> <br> <span>Personal Trainer</span>
                                            </p>
                                        </div>

                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            consectetur, adipis Red quia numquam eius modi. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia numquam eius
                                            modi.
                                        </p>

                                    </div><!-- text-box -->

                                </div>
                            </div>
                            <div class="owl-item" style="width: 1170px; margin-right: 30px;">
                                <div class="item">
                                    <div class="instructor-img">
                                        <img src="assets/images/resource/tina.jpg" alt="">
                                    </div>
                                    <div class="text-box clearfix">
                                        <div class="name">
                                            <p>
                                                <b>JOHN SMITH</b> <br> <span>Personal Trainer</span>
                                            </p>
                                        </div>

                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            consectetur, adipis Red quia numquam eius modi. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia numquam eius
                                            modi.
                                        </p>

                                    </div><!-- text-box -->

                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 1170px; margin-right: 30px;">
                                <div class="item">
                                    <div class="instructor-img">
                                        <img src="assets/images/resource/tina.jpg" alt="">
                                    </div>
                                    <div class="text-box clearfix">
                                        <div class="name">
                                            <p>
                                                <b>JOHN SMITH</b> <br> <span>Personal Trainer</span>
                                            </p>
                                        </div>

                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            consectetur, adipis Red quia numquam eius modi. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia numquam eius
                                            modi.
                                        </p>

                                    </div><!-- text-box -->

                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 1170px; margin-right: 30px;">
                                <div class="item">
                                    <div class="instructor-img">
                                        <img src="assets/images/resource/tina.jpg" alt="">
                                    </div>
                                    <div class="text-box clearfix">
                                        <div class="name">
                                            <p>

                                                <b>JOHN SMITH</b> <br> <span>Personal Trainer</span>
                                            </p>
                                        </div>

                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                            consectetur, adipis Red quia numquam eius modi. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit amet, consectetur <br>Red quia numquam eius
                                            modi.
                                        </p>

                                    </div><!-- text-box -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-controls">
                        <div class="owl-nav">
                            <div class="owl-prev" style="display: none;"><i class="fa fa-angle-left"></i></div>
                            <div class="owl-next" style="display: none;"><i class="fa fa-angle-right"></i></div>
                        </div>
                        <div class="owl-dots" style="">
                            <div class="owl-dot active"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section *ngIf="features.events" id="upcoming-events">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    <div class="section-title text-center wd-50 mb-50">
                        <h1 class="white-color"><b>UPCOMING EVENTS</b></h1>
                    </div><!-- title -->

                    <div class="events-list">
                        <ul>
                            <li>
                                <div class="events-date">
                                    <h2>28</h2>
                                    <span>Jan</span>
                                </div>
                                <div class="events-desc">
                                    <p><b>Open House and Registration-II</b></p>
                                    <span>Come try out a FREE class at our open house!</span>
                                </div>
                                <a href="#" class="event-btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <div class="events-date">
                                    <h2>28</h2>
                                    <span>Jan</span>
                                </div>
                                <div class="events-desc">
                                    <p><b>Open House and Registration-II</b></p>
                                    <span>Come try out a FREE class at our open house!</span>
                                </div>
                                <a href="#" class="event-btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <div class="events-date">
                                    <h2>28</h2>
                                    <span>Jan</span>
                                </div>
                                <div class="events-desc">
                                    <p><b>Open House and Registration-II</b></p>
                                    <span>Come try out a FREE class at our open house!</span>
                                </div>
                                <a href="#" class="event-btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End upcoming-events section -->

<!-- start blog section-->
<section id="blog" class="pt pt-sm-80" *ngIf="features.blog">
    <div class="container">
        <div class="section-title text-center wd-50 mb-50">
            <h1>blogs</h1>
        </div><!-- title -->

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blog-main-holder">
                    <div class="single-blog-post">
                        <div class="img-holder">
                            <img src="assets/images/blog/1.jpg" alt="img">
                            <div class="date">
                                <h3>08<br><span>may</span></h3>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h3>heading of blog</h3>
                            <ul>
                                <li>Author : <span>Aliza Baith</span> </li>
                                <li class="pull-right">comments: <span>5</span> </li>
                            </ul>

                            <p>
                                Sed ut perspiciatis unde omnis ierror sit voluptatem accusa nt ium dolorem que
                                laudantium.
                            </p>
                            <a class="readmore" href="#">Read More</a>
                        </div>
                    </div><!-- single blog post -->
                </div><!-- blog-main-holder -->
            </div><!-- col -->

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blog-main-holder">
                    <div class="single-blog-post">
                        <div class="img-holder">
                            <img src="assets/images/blog/2.jpg" alt="img">
                            <div class="date">
                                <h3>08<br><span>may</span></h3>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h3>heading of blog</h3>
                            <ul>
                                <li>Author : <span>Aliza Baith</span> </li>
                                <li class="pull-right">comments: <span>5</span> </li>
                            </ul>

                            <p>
                                Sed ut perspiciatis unde omnis ierror sit voluptatem accusa nt ium dolorem que
                                laudantium.
                            </p>
                            <a class="readmore" href="#">Read More</a>
                        </div>
                    </div><!-- single blog post -->
                </div><!-- blog-main-holder -->
            </div><!-- col -->

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blog-main-holder">
                    <div class="single-blog-post">
                        <div class="img-holder">
                            <img src="assets/images/blog/3.jpg" alt="img">
                            <div class="date">
                                <h3>08<br><span>may</span></h3>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h3>heading of blog</h3>
                            <ul>
                                <li>Author : <span>Aliza Baith</span> </li>
                                <li class="pull-right">comments: <span>5</span> </li>
                            </ul>

                            <p>
                                Sed ut perspiciatis unde omnis ierror sit voluptatem accusa nt ium dolorem que
                                laudantium.
                            </p>
                            <a class="readmore" href="#">Read More</a>
                        </div>
                    </div><!-- single blog post -->
                </div><!-- blog-main-holder -->
            </div><!-- col -->
        </div>
    </div>
</section><!-- End blog section-->